
<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>


<a href=">%= login_path %<" id="twitter-login" data-method="post">Twitter Login</a>
<br>
<% if logged_in? %>
  <%= current_user %>
<% end %>
